.logo {
    display:  block;
    margin: auto;
    width: 50px;
    height: 50px;
}

.container {
    max-width: 955px;
    border: 2px solid black;
    margin: auto;
    height: 60vh;
    padding: 3;
}

.message {
background-color: grey;
width: 24%;
padding: 10px;
margin: 17px 2px;
border: 2px solid black;
border-radius: 10px ;
}
.left {
    float: left;
    clear: both;

}
.right {
    float: right;
    clear: both;

}
#send-container {
    display: block;
    margin: auto;
text-align: center;
max-width: 985px;
width: 100%;

}

#messageImp{
    width: 92%;
    height: 35px;
    border: 2px solid black;
    border-radius: 10px ;
}

.btn {
    cursor: pointer;
    border: 2px solid black;
    border-radius: 6px ;
    height: 35px;

}

body {
    height: 100vh;
    background-image: linear-gradient(white, rgb(90, 161, 158));
}